# Video19_15Puzzle1
# /Video19_15Puzzle1
# \Video19_15Puzzle1

# K:\Full Stack\Deployment Projects\js_youtube_code\Video19_15Puzzle1
# K:/Full Stack/Deployment Projects/js_youtube_code/Video19_15Puzzle1

Video19_15Puzzle1/
js_youtube_code/Video19_15Puzzle1/
